html {
    height: 100%
}

body {
    background-image: url(../img/blue-mountain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0 auto;
    height: 100%;
    width: 1000px;
    font: 13px "Myriad Pro", "Lucida Grande", Lucida, Verdana, sans-serif;
}

.body{
    display: flex;
}

.content {
    flex: 1 0 auto;
    margin: auto;
}

.overhead{
    padding: 30px;
    min-height: 200px;
    width: 40%
}