<style>
        footer {
            flex: 0 0 auto;
            text-align: center;
        }
        footer div{
            margin: 20px auto;
            font-size: 12px;
        }
        .footer-link {
            list-style: none;
        }
        .footer-link li > a{
            text-decoration: none;
            color: #707070;
        }
        .footer-link li > a:hover {
            color: rgb(215, 202, 153);
        }
        .footer-link a{
            color: #ffffff;
            cursor: pointer;
        }
        .footer-link a:hover {
            color: #09c9ff;
        }
        .footer-link a:focus {
            color: #ffffff;
        }
    </style>
    <footer>
        <div>
            <ul class="footer-link">
                <li>©2017 Ggh</li>
                <li><a href="http://www.ggh.space" target="_blank">http://www.ggh.space</a></li>
            </ul>
        </div>
    </footer>