<div ng-repeat="item in list">
    <div style="background-color: white; margin: 5% 0; border-top: 2px solid deepskyblue">
        <div style="padding: 0 30px">
            <div style="height: 50px">
                <h3 style="color:#1ba1e2">{{item.title}}</h3>
            </div>
            <div>
                <div style="min-height:30px">{{item.description}}</div>
            </div>
            <div style="border-top: 1px solid grey;height:40px">
                <div style="padding: 10px 0">
                    <a href={{item.uri}}>查看全文>>></a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{item.title}}</h3>
        </div>
        <div class="panel-body">
            {{item.description}}
        </div>
        <div class="panel-footer">
            <a href={{item.uri}}>查看全文>>></a>
        </div>
    </div>
</div>