<div ng-repeat="item in list">
    <div style="background-color: white; margin: 5% auto; border-top: 3px solid deepskyblue">
        <div style="padding: 0 10px">
            <div style="height: 50px">
                <h3>{{item.title}}</h3>
            </div>
            <div>
                <br>
                <br>
                <br>
            </div>
            <div style="border-top: 1px solid grey">
                <span style="padding:10px 0">查看全文>>></span>
            </div>
        </div>
    </div>
</div>