<div ng-repeat="item in list">
    <div style="background-color: white; margin: 5% auto; border-top: 3px solid deepskyblue">
        <div style="padding: 0 10px">
            <div style="height: 50px">
                <h3>{{item.title}}</h3>
            </div>
            <div>
                <code>{{item.description}}</code>
                <div>{{item.description}}</div>
            </div>
            <div style="border-top: 1px solid grey">
                <a href={{item.uri}}><span style="padding:10px 0">查看全文>>></span></a>
            </div>
        </div>
    </div>
</div>